*:not(header) {
    box-sizing: border-box;
}

main p, main h2, main li {
    font-size: large;
}

main {
    max-width: 100%;
    margin: 0 10rem;
}

main > h1 {
    margin-bottom: 3rem;
}

main p, main li {
    font-family: 'roboto', sans-serif;
    
}
.short-details {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.5rem;
    border-radius: .5rem;
    border: 2px solid lightblue;
    margin-bottom: 1rem;
}

.short-details img {
    /* height: 100%; */
    width: 50rem;
}


.nutrition-info .line {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    gap: 1.2rem;
    font-size: larger;
    margin: 2rem 1rem;
}

main > h3 {
    text-align: center;
}

section {
    margin: .5rem 2rem;
}

section h2 {
    color: blue;
}

li {
    margin-bottom: .5rem;
}




@media (max-width: 768px) {
    * {
        font-size: medium;
    }

    .short-details {
        width: 100%;
    }

    .short-details img {
        width: 100%;
    }

    main {
        margin: 0;
    }

    .nutrition-info .line {
        display: inline-flex;
    }

}

@media (max-width: 450px) {
    html {
        font-size: 70%;
    }

    * {
        font-size: small;
    }

    main > h1 {
        margin-bottom: 2rem;
    }    

    .short-details {
        display: block;
    }

    .short-details img {
        flex-basis: 30rem;
    }

    section {
        margin: .5rem 0rem;
        margin-left: 1rem;
    }
}